.wrapper-flashcards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.navBar {
    position: relative;
}

.card-wrapper {
    height: 87vh;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px 0px #0000001F;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contador, .card-title {
    padding-top: 30px;
    padding-right: 30px;

    font-weight: 700;
    display: flex;
}

.card-title {
    width: 50%;
}

.flashcard-title {
    font-size: 32px;
    font-weight: 700;
}

.flashcard-back {
    margin: 0 30px;
    word-break: break-all;
}

.logo-enter {
    height: 49px;
    width: 49px;
    left: 855px;
    top: 738px;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    margin: 20px;
}


.logo-enter:hover {
    filter: brightness(95%);
}

.box-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.answer-wrapper {
    width: 100%;
}

.answer-options-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.answer-bottom {
    height: 48px;
    width: 65px;
    font-size: smaller;
    border-radius: 12px;
    display: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.black-bottom {
    border: 3px solid black;
}

.red-bottom {
    border: 3px solid #F64848
}

.green-bottom {
    border: 3px solid #62DB38
}

.yellow-bottom {
    border: 3px solid #FFEF61
}